<section id="section-jumbotron" class="jumbotron jumbotron-fluid text-white d-flex justify-content-center align-items-center">
  <div class='row'>
    <div class='col-xs-1'></div>
    <div class='col-xs-10'>
      <div class='box-shadow'>
        <h3>Conversation en cours:</h3>
        <%= link_to 'Retour à la liste des messages', conversations_path, class:'btn btn-info' %>
        <hr>
        <div class="panel-heading text-left">Sujet:<strong> <%= @conversation.subject %></strong></div>
        <hr>
        <div class="panel-body text-left">
          <div class="messages">
            <% @conversation.receipts_for(current_user).each do |receipt| %>
            <div class="media">
              <% message = receipt.message %>
              <div class="media-left">
                <%= image_tag avatar_url(message.sender), class: "avatar-bordered" %>
              </div>
              <div class="media-body">
                <h6 class="media-heading"><%= message.sender.pseudo %>
                  says at <%= message.created_at.strftime("%-d %B %Y, %H:%M:%S") %></h6>

                  <strong><%= message.body %></strong>
                </div>
              </div>
              <% end %>
            </div>
          </div>
          <%= form_tag reply_conversation_path(@conversation), method: :post do %>
          <div class="form-group">
            <%= text_area_tag 'body', nil, cols: 3, class: 'form-control', placeholder: 'Répondre au dernier message...', required: true %>
          </div>
          <%= submit_tag "Envoyer un message", class:'btn btn-info' %><br><br>
          <% end %>
        </div>
      </div>
      <div class='col-xs-1'></div>
    </div>
  </section>
