<section id="section-jumbotron" class="jumbotron jumbotron-fluid text-white d-flex justify-content-center align-items-center">
  <div class="container">
  <div class='text-center'>
    <h4>Découvrez tous les créateurs de la Capsule</h4>
    </div>
    <% @sellers.each do |user| %>
    <%= link_to user_path(user) do %>
    <div class="product">
      <div class='product-upvote'>
      </div>
      <%= image_tag avatar_url(user), alt:"kudoz", class:"product-image hidden-xs" %>
      <div class='product-body'>
        <h5><strong><%= user.pseudo %></strong> (<%= user.address %>)</h5>
        <%= user.description %>
      </div>
      <%= user.reviews.count %> commentaires
    </div>
    <% end %>
    <% end %>
  </div>
</section>



