
<% if @articles.count != 0 %>
<% @articles.order("id DESC").each do |article| %>
<div class="col-xs-12">
  <div class="panel panel-default box-shadow">

    <div class="product">
      <div class='product-upvote'>
      </div>
      <div class="product-image hidden-xs">
      <%= image_tag article.product.photos[0].image.url, style: 'height:75px;width:100px' if article.product.photos.length > 0 %>
      </div>
      <div class='product-body'>
        <h3><%= link_to article.product.name, product_path(article.product) %></h3>
        <h5><%= image_tag "brand.png", heigth:12, width: 24 %> <%= article.product.brand %></h5>
      </div>
      <ul class="list-inline product-controls hidden-sm hidden-xs">
        <li><%= article.product.price %> euros</li>
      </ul>
    </div>
  <!--
              <hr>
              <%= link_to user_path(article.product.user), class: 'btn btn-md btn-info' do %>
              Contacter le vendeur
              <% end %>
              retirer de ma liste
            -->
          </div>
        </div>


        <% end %>

        <% else %>
        <div class="row">
          <div class="col-xs-12 text-left">
            <h5>Votre liste est vide  <%= link_to "Voir les articles", search_path, class:"btn btn-info" %></h5>

          </div>
        </div>
        <% end %>
      </div>
